<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.974384424350-i4qip060h3hvs2u4nl2kj8lnvipt7l9k</string>
			</array>
		</dict>
	</array>
	<key>DATADOG_CLIENT_TOKEN</key>
	<string>$(DATADOG_CLIENT_TOKEN)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.stephantromer.winetrail.refresh</string>
	</array>
</dict>
</plist>
